.statistics__scroller {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  gap: 30px;
  padding: 59px 30px 23px 62px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 10%;
  height: 100%;
  box-sizing: border-box;
}



@media screen and (max-width: 1524px) {
  .statistics__scroller {
    padding-bottom: 37px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .statistics__scroller {
    margin-left: 35px;
    padding-bottom: 17px;
    grid-template-rows: auto;
  }
}

.statistics__scroller::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 10px;
  background: #f4f4f6;
  border-radius: 28px;
  width: 420px;
}

@media screen and (max-width: 768px) {
  .statistics__scroller::-webkit-scrollbar {
    background: transparent;
  }
}

@media screen and (max-width: 768px) {
  .statistics__scroller::-webkit-scrollbar {
    width: 0;
  }
}

.statistics__scroller::-webkit-scrollbar-track {
  border-radius: 9px;
  margin-inline: 73px;
}

@media screen and (max-width: 1600px) {
  .statistics__scroller::-webkit-scrollbar-track {
    margin-inline: 0;
  }
}

.statistics__scroller::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 9px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .statistics__scroller::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
