.leader__wrapper {
    display: flex;
    gap: calc(30px + (70 - 30) * ((100vw - 785px) / (1920 - 785)));
    width: 90%;
}

@media screen and (max-width: 1524px) {
    .leader__wrapper {
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 1020px) {
    .leader__wrapper {
      flex-direction: column;
      align-items: center;
    }
  }